// основная слайдер

.body
	&_arm
		background #acc2d3
	&_building
		background #eaf2f7
	&_gramophone
		background #eeede8
	&_wine
		background #ffe1bd
.body_arm .header_arm
.body_arm .footer_arm
.body_arm .header__logo_arm a
.body_arm .header__logo_arm a:link
.body_arm .header__logo_arm a:active
.body_arm .header__logo_arm a:visited
	color #000
.slide-tabs__image_active
	border 2px solid #ffba00
.animate
	&_left
		display none
		transform translateX(-200%)
		transition transform main-transition
	&_right
		display none
		transform translateX(200%)
		transition transform main-transition

.body_arm	.arm
.body_building .building
.body_gramophone .gramophone
.body_wine .wine
	transform none
.body_arm
.body_arm a
.body_arm a:link
.body_arm a:active
.body_arm a:visited
	color #fff
	
.content__btn_opacity
	opacity 0
	
//	Личный кабинет категории
.category
	&__name
		&_active
			color	yel
// превью
.slick-arrow
	@media tab
		z-index 4
//	табы
.tab
	&_active
		border-bottom 1px solid yel

.js-page
	transition all .4s ease-out
	
.js-page_visible
	right 0
	
.js-index
	z-index 2
	
.menu-lk
	margin-top 130px
	padding-top 0
