*
	box-sizing border-box
	
a:link, a:visited, a:active
	text-decoration none
	color #000
html
body
	height 100%
html
	font-family family
	font-size font-size
	overflow hidden
	color #000
	@media screen and (min-width: 1600px)
		font-size font-size-full
	
h1,h2
	margin 0
	font-size font-h1-mob
	font-weight bold
	line-height 1.3
	@media tab
		font-size font-h1
h3
	font-size font-h3
	font-weight 400
	line-height 1.5
p
	font-size font-p
	line-height 1.8
span
	font-size font-menu
	font-weight bold

body
	position relative
	display flex
	padding 0 content-padding
	flex-direction column
	justify-content space-between
	overflow-x hidden
	background color-main
	@media tab
		padding 0 content-padding-tab
	@media pklk
		padding 0 content-padding-pk

// ------------- ОБЩИЕ -------------- BEGIN

.list
	padding 0
	list-style none
	&__item
		white-space nowrap
		cursor pointer
		&_active
			color #c2c1bd
			
.page-tab
	display none
	position absolute
	top 0
	right -120%
	z-index 1
	width 100vw
	padding (header-main_height+20) content-padding header-main_height
	overflow-y scroll
	box-shadow 0px 8px 8px 2px rgba(0,0,0,0.16)
	transition all .4s ease-out
	background #eeede8
	@media tab
		height 100vh
		padding header-main_height*1.75 content-padding-tab 20px
	@media pk
		width 50vw	
		padding header-main_height*1.75 content-padding-title 20px
.page-tab h2
	margin-top 0
	
.inputs
	display block
	font-size font-menu
	font-weight bold
	margin 15px 0 30px
	&__item
		display block
		width 100%
		outline none
		border none
		border-bottom 2px solid #dad9d5
		background #eeede8
		
// Хэдер сайта

.header
	position relative
	z-index 3
	display flex
	width 100%
	margin-bottom 20px
	flex-basis header-main_height
	flex-shrink 0
	justify-content space-between
	align-items center
	background #eeede8
	@media tab
		margin-bottom 0
		flex-basis header-main_height*1.75
	&__nav
		@media tab
			width 60%
		@media screen and (min-width: 600px)
			width 48%

// Лого сайта	

.logo
	position relative
	cursor pointer
	&::before
		content ''
		position absolute
		top -30%
		left -20%
		z-index -1
		size 41% 158%
		border-radius 50%
		background yel
	&__link
		font-size font-logo
		font-weight bold

// Настройки навигации

.menu
	display flex
	&__btn
		display block
		cursor pointer
		@media tab
			display none
	&__list
		display none
		width 100%
		@media tab
			display flex
			justify-content space-between
			align-items center
	&__item
		font-size font-menu
		font-weight bold
		
.lk-out
	size 30px
	border-radius 50%
	cursor pointer
	background #fff resolve('out.png') no-repeat 50% 50%

// мобильные меню

.menu-m
	width 100vw
	height 100%
	@media tab
		display none !important
	&__item
		@media screen and (max-width: 480px)
			margin 20px 0
			font-size font-h1-mob
			font-weight bold
	&__btn
		width 20px
		height 20px
		background resolve('lknav.png') no-repeat 50% 50%
		@media tab
			display none
	
// Кнопка сайта

.button
	display block
	position relative
	width 170px
	height 40px
	border-radius 20px
	cursor pointer
	background #fff
	&:hover
		background yel
		color #fff
	&__submit
		height 40px
		border 0
		margin-left 25px
		font-size 1.1rem
		font-weight bold
		line-height 40px
		cursor pointer
		background transparent
		color yel
.button:hover .button__submit
	color #fff
	
.push
.button::after
	size 30px
	border-radius 50%
	background resolve('next.png') no-repeat 50% 50%
	cursor pointer
.push
	@media pklk
		size 40px
		background-size 45%
.push_left
	transform rotate(180deg)
.button::after
	content ''
	position absolute
	right 5px
	top 5px
	background-color yel

// ------------- ОБЩИЕ -------------- END

.main-lk
	flex-grow 1

// Хэдер личного кабинета	

.header-lk
	position relative
	display flex
	flex-wrap wrap
	justify-content space-between
	@media tab
		display block
		width 100%
		margin-bottom mb-title
	@media screen and (min-width: 764px)
		display flex
	&__title
		flex-basis 25%
		margin-top 0
		margin-right 2rem
		@media pklk
			margin-left 90px
	&__nav
		display flex
		align-items center
		margin-right 1px
		@media tab
			margin-right 0
			align-items flex-end
		@media pklk
			flex-basis 48%
	&__menu
		@media tab
			width 100%
	ul
		margin 0
		@media tab
			margin-top 1rem
		@media screen and (min-width: 764px)
			margin 0 0 .5rem
	li
		font-size font-h3
		@media tab
			margin-right 1.4rem
			font-size 1.1rem
		@media screen and (min-width: 764px)
			font-size 1.1rem
			margin-right 2rem
			// font-size font-p
		@media pklk
			font-size font-h3
	li:last-child
		margin 0

// контент

.content-lk
	size 100%
	@media pklk
		display flex
		justify-content space-between

// табы

.tab
	flex-basis 120px
	flex-grow 0
	font-size font-h3
	font-weight bold
	line-height 50px
	cursor pointer
	@media tab
		flex-basis 150px
	
.tabs-lk
	display flex
	width 100%
	flex-direction column
	@media pklk
		margin-left 90px
		flex-basis 36%
	&__list
		display flex
		width 270px
		height 50px
		margin-bottom 0
		justify-content space-between
		@media tab
			width 330px
	&__company
		border-bottom 1px solid silv
		@media tab
			float none
			display inline-block
	&__projects
		border-bottom 1px solid silv
		@media tab
			float none
			display inline-block
	&__container
		clear both
	&__content
		margin 60px 0
		transition lk-transition
	&__subtitle
		font-weight bold
	&__category
		margin 30px 0
		font-size font-p
		font-weight bold
		transition lk-transition
		@media tab
			width 300px
			height auto
			padding-left 180px

// Категории

.category
	display flex
	// display none
	width 270px
	height 60px
	flex-direction column
	flex-wrap wrap
	justify-content space-between
	align-content space-between
	&__name
		width 120px
		flex-basis 30px
		line-height 30px
		@media tab
			margin-bottom 15px

// Адаптивная таблица

.invest
	transition lk-transition
	&__title
		@media tab
			font-size font-h1-mob
		@media pklk
			font-size font-h1
			height 50px
			line-height 50px
			margin-bottom 60px
	&__button
		margin 5px 0 25px

.term
	color silv

.table
	display flex
	justify-content space-around
	margin 25px 0
	@media screen and (min-width: 600px)
		display block
		font-size font-p
	@media pklk
		margin-bottom 60px
	&__title
		font-weight bold
		color #000
	&__item
		flex-basis 90px
		flex-grow 1
		@media screen and (min-width: 600px)
			display flex
			border-bottom 1px solid silver
			width 100%
		div
			height 60px
			line-height 60px
			border-bottom 1px solid silver
			@media screen and (min-width: 600px)
				display inline-block
				flex-basis 120px
				border-bottom none
				
// превью табов

.preview
	@media pklk
		min-width 0
		flex-basis 48%
		flex-grow 0
	@media pklk
		margin-top 30px
.preview__category
	width 100%
	transition lk-transition
		
	
// слайдер превью

.slider-lk
	// display none
	margin-bottom 60px
	@media tab
		margin-bottom 0
	&__list
		&_none
			display none
	&__image
		width 150px
		@media pklk
			width 170px
	&__item
		width 150px
		margin-right 30px
		gray(100%)
		opacity .2
		@media pklk
			width 170px
	&__wrap
		width 150px
		@media pklk
			width 170px
	&__next
	&__prev
		position absolute
		bottom -30px
		background-color #000
		@media tab
			bottom -60px
		@media pklk
			bottom 80px
	&__next
		left 60%
		@media tab
			left 100px
		@media pklk
			left 290px
	&__prev
		transform rotate(180deg)
		right 60%
		@media tab
			right 100%
			transform rotate(180deg) translate(-100%)
		@media pklk
			left 190px
			transform rotate(180deg)

.slider-lk__list.slick-slider
		@media pklk
			position static
			
.slick-active
	gray(0)
	opacity 1

// Подвал сайта

.footer
	position relative
	z-index 3
	display flex
	align-items center
	flex-basis header-main_height
	flex-shrink 0
	@media tab
		flex-basis header-main_height
		justify-content space-between
.copyright
	@media tab
		margin-left 50%
	@media pklk
		margin-left 52%
	
// Отдельные страницы

.contacts
	font-weight bold
	@media pk
		width 100vw
	h2,h3
		font-weight bold
	&__row
		display flex
		justify-content space-around
		flex-direction column
		@media pk
			flex-direction row
	&__col
		@media pk
			width 48%
	&__subtitle
		font-size 1.6rem
		margin-bottom 45px
.data
	margin-bottom 45px
	&__title
		margin-bottom 45px
.phone__number
.mail__name
.adress__name
	font-size font-logo
.phone__number a
	color #000
.communicate
	&__wrap
		@media pk
			width 60%
			padding-left 10px
	&__name
		@media tab
			float left
			width 40%
			margin-bottom 40px
		@media pk
			float none
			width 100%
	&__email
		@media tab
			float right
			width 40%
		@media pk
			float none
			width 100%
	&__msg
		@media tab
			clear both
		textarea
			resize none
	.inputs
		font-size font-p
	
// Стили для страниц слайда личного кабинета

// Титул
.header-item
	flex-direction column
	margin-bottom 30px
	@media tab
		display flex
		flex-direction row
		margin-bottom 60px
	&__title
		@media tab
			flex-basis 45%
		@media tab
			flex-basis auto
	&__nav
		order -1
		margin-bottom 15px
		@media tab
			display flex
			width 48%
			margin-bottom 0
			align-items center
			order 0
	&__back
		position relative
		display block
		font-size font-p
		&:before
			@media tab
				content ''
				display block
				position absolute
				top 50%
				left -100%
				width 30px
				height 15px
				transform translateY(-50%)
				background resolve('back.png') no-repeat 50% 50%

.page-slide
	@media tab
		display flex
		flex-wrap wrap
		justify-content space-between
	@media pklk
		height 530px
		flex-direction column
		justify-content flex-start
		align-content space-between
	&__image
		@media tab
			width 48%
		@media pklk
			flex-basis 30%
			flex-grow 1
		img
			width 100%
			@media tab
				width 95%
			@media pklk
				width 75%
				margin-left 90px
	&__text
		@media tab
			width 48%
	&__subtitle
		margin 30px 0
		@media tab
			margin-top 0
	&__descr
		margin 30px 0
	&__invest
		width 100%
		margin 60px 0 25px
		@media tab
			margin-top 45px
		@media pklk
			width 48%
	&__invest-title
		@media tab
			font-size font-h1-mob
		@media pklk
			font-size font-h1
	&__table
		display flex
		justify-content space-around
		margin 25px 0
		@media screen and (min-width: 600px)
			display block
			font-size font-p
		@media pklk
			margin-bottom 60px
	&__row
		display flex
		width 100%
		flex-wrap wrap
		justify-content space-between
		@media screen and (min-width: 600px)
			flex-wrap nowrap
			justify-content flex-start
			border-bottom 1px solid silver
			border-top 1px solid silver
		@media screen and (min-width: 764px)
			width 70%
		@media pklk
			width 100%
	&__col
		flex-basis 40%
		height 60px
		line-height 60px
		border-bottom 1px solid silver
		@media screen and (min-width: 600px)
			flex-basis 100px
			flex-shrink 0
			border-bottom 0
		&:nth-child(1)
		&:nth-child(2)
			border-top 1px solid silv
			@media screen and (min-width: 600px)
				border-top 0
	&__five
		display none
		@media screen and (min-width: 600px)
			display block










