*
	box-sizing border-box
html, body
	size 100%
a:link, a:visited, a:active
	text-decoration none
	color #000

html
	font-family family
	font-size font-size
	color #000
	overflow-x hidden
	@media screen and (min-width: 1600px)
		font-size font-size-full

body
	position relative
	display flex
	flex-direction column
	justify-content space-between
	overflow-x hidden
	transition background-color main-transition
	background color-main
h1,h2
	font-size font-h1-mob
	font-weight 500
	line-height 1.3
	@media tab
		font-size font-h1
h3
	font-size font-h3
	font-weight 400
	line-height 1.5
p
	font-size font-p
	line-height 1.8
span
	font-size font-menu
	font-weight bold
.main
	position relative
	height auto
	@media tab
		height 70%
	@media pk
		width 100%
		height 65%
	
.header
	position relative
	display flex
	width 100%
	flex-basis header-main_height
	flex-shrink 0
	z-index 3
	padding 0 content-padding
	justify-content space-between
	align-items center
	transition color main-transition
	background-color transparent
	@media tab
		flex-basis header-main_height*1.75
		padding 0 content-padding-tab
	@media pk
		padding 0 content-padding-pk
	&__nav
		@media tab
			width 60%
		@media screen and (min-width: 600px)
			width 48%
	
.logo
	position relative
	cursor pointer
	&::before
		content ''
		position absolute
		top -30%
		left -20%
		z-index -1
		size 41% 158%
		border-radius 50%
		background #ffba00
	&__link
		font-size font-logo
		font-weight bold
		
.menu
	display flex
	&__btn
		display block
		cursor pointer
		@media tab
			display none
	&__list
		display none
		width 100%
		@media tab
			display flex
			justify-content space-between
			align-items center
	&__item
		font-size font-menu
		font-weight bold

.list
	padding 0
	list-style none
	&__item
		white-space nowrap
		cursor pointer
		&_active
			color silver

.slide-wrap
	&__item
		size 100%
	&__nav
		display none
		overflow hidden
		cursor pointer
		@media tab
			display flex
			position absolute
			width 40%
			right 5%
			bottom 0
			z-index 1
.slide-tabs__image
	size 50%
	margin 1px
	border 2px solid transparent
	// transition all .2s ease-out
	overflow hidden
	
// кнопки
.button
	display block
	position relative
	width 170px
	height 40px
	border-radius 20px
	cursor pointer
	background #fff
	&:hover
		background #ffba00
		color #fff
	&__submit
		height 40px
		border 0
		margin-left 25px
		font-size 1.1rem
		font-weight bold
		line-height 40px
		cursor pointer
		background transparent
		color #ffba00
.button:hover .button__submit
	color #fff
	
.push
.button::after
	size 30px
	border-radius 50%
	background resolve('next.png') no-repeat 50% 50%
	cursor pointer
.push
	transition all main-transition
	@media pk
		size 40px
		background-size 45%
.push_left
	transform rotate(180deg)
.button::after
	content ''
	position absolute
	right 5px
	top 5px
	background-color #ffba00
	
.content
	position relative
	display flex
	flex-direction column
	justify-content space-between
	transition all 1s ease-out
	@media tab
		justify-content flex-start
	@media pk
		flex-wrap wrap
	&__title-box
		display flex
		flex-shrink 0
		width auto
		justify-content flex-start
		@media tab
			justify-content flex-start
		@media pk
			width 48%
			flex-basis 30%
			justify-content center
	&__title
		width 21rem
		margin 0
		padding 0 content-padding
		@media tab
			width 80%
			padding 0 content-padding-tab
		@media pk
			width 70%
	&__image-box
		position relative
		order 2
		margin-bottom 30px
		@media tab
			height 300px
			order 3
		@media pk
			flex-basis 60%
			top 60px
			width 48%
			height 60%
			order 2
	&__img
		width 100%
		@media tab
			width 70%
		@media pk
			width 80%
	&__img-building
		@media pk
			width 100%
	&__img-gramophone
		@media tab
			position absolute
			left 10%
			width 50%
		@media pk
			top -20%
			left 30%
			width 65%
	&__img-wine
		@media pk
			position absolute
			top -23%
			left 15%
			width 100%
	&__btn-box
		display flex
		justify-content space-between
		position absolute
		bottom -30px
		left 50%
		width 125px
		transform translateX(-50%)
		transition all .5s ease-out
		@media tab
			left 100px
			bottom -100px
			width 90px
		@media pk
			bottom -20%
			left 30%
			z-index 4
			width 160px
	&__btn
		opacity .3
		background-color #2d2d2d
		&:hover
			opacity 1
			cursor pointer
	&__subtitle-box
		width auto
		padding 0 content-padding
		order 1
		@media tab
			padding 0 content-padding-tab
			order 1
		@media pk
			width 48%
			margin-top 20px
			padding 0 2%
			order 2
	&__subtitle
		margin 30px 0
		@media tab
			width 85%
			margin 40px 0 15px
		@media pk
			width 80%
	&__descr-box
		width auto
		padding 0 content-padding
		order 2
		@media tab
			padding 0 content-padding-tab
			margin-bottom 30px
			order 2
		@media pk
			width 48%
			padding 0 2%
			order 3
	&__descr
		@media pk
			width 80%

.page-tab
	display none
	position absolute
	top 0
	right -120%
	z-index 1
	width 100vw
	padding (header-main_height+20) content-padding header-main_height
	overflow-y scroll
	box-shadow 0px 8px 8px 2px rgba(0,0,0,0.16)
	color #000
	background #eeede8
	@media tab
		height 100vh
		padding header-main_height*1.75 content-padding-tab 0
	@media pk
		width 50vw	
		padding header-main_height*1.75 content-padding-title 0
		box-shadow none
.page-tab h2
	margin-top 0
	
.inputs
	display block
	font-size font-menu
	font-weight bold
	margin 15px 0 30px
	&__item
		display block
		width 100%
		outline none
		border none
		border-bottom 2px solid #dad9d5
		background #eeede8
	
.sign-in
	@media pk
		padding header-main_height*1.75 0 0
	&__wrap
		@media tab
			width 50%
		@media pk
			margin 0 auto
.login
	margin 45px 0 0
	&__email
		display block
	&__pw
		display block
	&__btn
		@media pk
			float right
			
.sign-up
	@media pk
		padding header-main_height*1.75 0 0
	&__wrap
		@media tab
			width 50%
		@media pk
			margin 0 auto
.reg
	margin 45px 0 0
	&__first
		display inline-block
		float left
		width 40%
	&__last
		display inline-block
		float right
		width 40%
	&__email
		clear both
	&__agreement
		display block
		margin-left 25px
		color silver
		span
			font-size .9rem
			line-height 1.2
	&__checkbox
		margin 0 12px 0 -25px

.contacts
	font-weight bold
	@media pk
		width 100vw
	h2,h3
		font-weight bold
	&__row
		display flex
		justify-content space-around
		flex-direction column
		@media pk
			flex-direction row
	&__col
		@media pk
			width 48%
	&__subtitle
		font-size 1.6rem
		margin-bottom 45px
.data
	margin-bottom 45px
	&__title
		margin-bottom 45px

.phone__number
.mail__name
.adress__name
	font-size font-logo
.phone__number a
	color #000
.communicate
	&__wrap
		@media pk
			width 60%
			padding-left 10px
	&__name
		@media tab
			float left
			width 40%
			margin-bottom 40px
		@media pk
			float none
			width 100%
	&__email
		@media tab
			float right
			width 40%
		@media pk
			float none
			width 100%
	&__msg
		@media tab
			clear both
		textarea
			resize none
	.inputs
		font-size font-p
.menu-m
	width 100vw
	height 100%
	@media tab
		display none !important
	&__item
		margin 20px 0
		font-size font-h1-mob
		font-weight bold

.footer
	display flex
	align-items center
	width 100%
	flex-basis header-main_height
	flex-shrink 0
	padding 0 content-padding
	transition color main-transition
	@media tab
		position relative
		z-index 3
		flex-basis header-main_height*1.75
		padding 0 content-padding-tab
		justify-content space-between
	@media pk
		padding 0 content-padding-pk
.copyright
	@media tab
		margin-left 50%
	@media pk
		margin-left 52%
.footer__sign-up
	display none
	@media tab
		display inline-block
		cursor pointer
		




