aside
	ul.list
		li.list__item 
			a(href="#").icon.list__link.active.list__link_balance Balance
		li.list__item 
			a(href="#").icon.list__link.list__link_history History
		li.list__item 
			a(href="#").icon.list__link.list__link_send Send
		li.list__item 
			a(href="#").icon.list__link.list__link_newaddress New Address
		li.list__item 
			a(href="#").icon.list__link.list__link_setting Settings
		li.list__item 
			a(href="#").icon.list__link.list__link_logout Log out