div.balance
	h2.title-content Your current account state:
	table.table.balance__table
		tbody
			tr
				td.icon.balance__icon.balance__icon_bitcoin Bitcoin
				td 4.185 #[span.balance__money ВТС]
			tr
				td.icon.balance__icon.balance__icon_testnet Bitcoin Testnet
				td 1.004 #[span.balance__money ВТС]
			tr
				td.icon.balance__icon.balance__icon_ethereum Ethereum
				td 23.487 #[span.balance__money ETH]
			tr
				td.icon.balance__icon.balance__icon_rinkeby Ethereum Rinkeby
				td 0.245 #[span.balance__money ETH]

