.history
	h2.history__title.title-content History of transactions:
	table.table
		thead
			tr
				th.history__id ID
				th Wallet ID
				th Recipient
				th Currency
				th Amount
				th Created at
				th Updated at
		tbody
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
