.form
	h2.title-content Create a new account
	form(action="", method="", name="registration")
		.label
			input.form__input(type="text" name="username" placeholder="Username")
		.label
			input.form__input(type="email" name="email" placeholder="E-Mail")
		.label
			input.form__input(type="password" name="password" placeholder="Password")
		.label
			input.form__input(type="password" name="password" placeholder="Confirm password")
		div
			input.registration__submit.form__submit(type="submit", value="Registration")
