.form
	h2.title-content Send money
	form(action="", method="", name="send")
		.label
			input.form__input(type="text" name="username" placeholder="Reciever's address")
		.label
			input.form__input(type="email" name="email" placeholder="Amount")
		div
			input.send__submit.form__submit(type="submit", value="Send coins")
