.settings
	h2.title-content.settings__title Settings
	div.settings__container
		div.settings__item
			img(src="images/qr1.png", alt="qr-code")
			div.settings__text
				p OTP Secret Key:
				p 4135134nn1345jk134jb2kh13b
		div.settings__item
			img(src="images/qr2.png", alt="qr-code")
			div.settings__text
				p MAC Secret Key:
				p jnd7394mf75la6fh6jg8sld09m