// body
// 	// background linear-gradient(45deg, rgb(138,168,178) 0%, rgb(176,198,215) 100%)
// 	background-color: rgb(234, 242, 247);

bor()
	border 1px solid red

header-main_height = 80px //высота хэдера и футера
family = Muli, Arial // шрифт
font-size = 13px
font-size-full = 17px // шрифт при разрешении выше 1600
font-h1 = 2.7rem
font-h1-mob = 1.8rem // моб версия
font-h3 = 1.3rem
font-logo = 1.4rem
font-p = 1.2rem
font-menu = 1.3rem

content-padding = 25px // левый паддинг остального контента
content-padding-tab = 40px
content-padding-pk = 100px
content-padding-title = 190px // левый паддинг h1 основного сайта
content-padding-title-lk = 90px // левый паддинг личного кабинет
mb-title = 45px // нижний отступ тайтла от контента
tab = 'screen and (min-width: 480px)'
pk = 'screen and (min-width: 960px)'
pklk = 'screen and (min-width: 1240px)'
l = 'screen and (min-width: 1366px)'

// анимации

main-transition = 1s ease-out
lk-transition = all .3s ease-out
// Общие модификаторы
color-main = #eeede8
color-slide = #ffe1bd
// 4
//#ffe1bd
// 3
// #eeede8
// 2
// #eaf2f7
// 1
// #acc2d3

silv = #c2c1bd
yel = #ffba00

.silver
.silver:link
.silver:active
.silver:visited
	color silv
	
.yellow
.yellow:link
.yellow:active
.yellow:visited
	color yel
	
.none
	display none !important;
.hide
	right -100%
// серый фильтр

gray(n)
	-webkit-filter grayscale(n)
	-moz-filter grayscale(n)
	-ms-filter grayscale(n)
	-o-filter grayscale(n)
	filter grayscale(n)