a:active,
a:link,
a:visited {
	color: #4f7cac;
	text-decoration: none;
}

html {
	color: #4f7cac;
}

html,
body {
	width: 100%;
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	display: flex;
	flex: 0 0 120px;
	align-items: center;
	height: 120px;
	background: #4f7cac;
}

.logo {
	padding-left: 20px;
}

section.main {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

aside {
	flex: 0 0 237px;
	width: 237px;
	height: 100%;
	font-size: 25px;
	background: #dde8e8;
}

.list {
	list-style: none;
	padding-left: 0;
}

.list__item {
	margin: 15px 0;
}

.list__link {
	position: relative;
	display: inline-block;
	margin-left: 70px;
}

.list__link_balance:before, .list__link_history:before, .list__link_send:before, .list__link_newaddress:before, .list__link_setting:before, .list__link_logout:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
	width: 20px;
	height: 22px;
	background-image: url("../images/sprite.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.list__link_balance:before {
	background-position: 50% 2px;
}

.list__link_history:before {
	background-position: 50% -53px;
}

.list__link_send:before {
	background-position: 50% -109px;
}

.list__link_newaddress:before {
	background-position: 50% -165px;
}

.list__link_setting:before {
	background-position: 50% -221px;
}

.list__link_logout:before {
	background-position: 50% -276px;
}

.wrapper {
	flex-grow: 1;
	width: 100%;
}

.content {
	flex: 1 1 auto;
	height: 100%;
}
