a:active,
a:link,
a:visited {
	color: #4f7cac;
	text-decoration: none;
}

html {
	font-family: "Ubuntu", sans-serif;
	color: #4f7cac;
}

html,
body {
	width: 100%;
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 500px;
}

header {
	display: flex;
	flex: 0 0 120px;
	align-items: center;
	height: 120px;
	background: #4f7cac;
}

.logo {
	padding-left: 20px;
}

section.main {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

a.active:active,
a.active:link,
a.active:visited {
	text-decoration: underline;
	color: #19508a;
}

aside {
	flex: 0 0 237px;
	width: 237px;
	height: 100%;
	font-size: 25px;
	background: #dde8e8;
}

.icon:before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-size: cover;
	background-repeat: no-repeat;
}

.list {
	list-style: none;
	padding-left: 0;
}

.list__item {
	margin: 18px 0;
}

.list__link {
	position: relative;
	display: inline-block;
	margin-left: 70px;
}

.list__link:before {
	left: -35px;
	width: 20px;
	height: 22px;
	background-image: url("../images/sprite.png");
}

.list__link_balance:before {
	background-position: 50% 2px;
}

.list__link_history:before {
	background-position: 50% -53px;
}

.list__link_send:before {
	background-position: 50% -109px;
}

.list__link_newaddress:before {
	background-position: 50% -165px;
}

.list__link_setting:before {
	background-position: 50% -221px;
}

.list__link_logout:before {
	background-position: 50% -276px;
}

.content {
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
	padding: 0 60px;
	height: 100%;
	overflow: scroll;
}

.title-content {
	font-size: 33px;
	font-weight: normal;
	text-align: center;
}

.form {
	width: 350px;
	height: 350px;
}

.label {
	margin: 15px 0;
}

.form__input {
	width: 100%;
	height: 60px;
	border-radius: 30px;
	padding: 0 30px;
	border: 3px solid #dde8e8;
	outline: none;
	font-size: 25px;
	color: #4f7cac;
}

.form__input::-webkit-input-placeholder {
	color: #cfcece;
}

.form__input::-moz-placeholder {
	color: #cfcece;
}

.form__input:-moz-placeholder {
	color: #cfcece;
}

.form__input:-ms-input-placeholder {
	color: #cfcece;
}

.form__input::placeholder {
	color: #cfcece;
}

.form__submit {
	display: block;
	height: 60px;
	border-radius: 30px;
	margin: 0 auto;
	font-size: 25px;
	background: #4f7cac;
	color: #fff;
}

.login__link {
	text-align: center;
}

.login__new-user {
	font-size: 20px;
}

.login__submit {
	width: 150px;
}

.registration__submit {
	width: 210px;
	margin-top: 30px;
}

.send__submit {
	width: 180px;
}

.table {
	border-collapse: collapse;
}

.table th {
	background: #e9f3f3;
}

.table td,
.table th {
	padding: 15px;
	border: 1px solid #dde8e8;
}

.table tr:first-child th,
.table tr:first-child td {
	border-top: 0;
}

.table tr:last-child td {
	border-bottom: 0;
}

.table td:first-child {
	border-left: 0;
}

.table td:last-child {
	border-right: 0;
}

.balance {
	width: 630px;
}

.balance__table {
	width: 100%;
	font-size: 26px;
	background: #e9f3f3;
}

.balance__table td:first-child {
	padding-left: 60px;
}

.balance__table td:last-child {
	text-align: right;
}

.balance__icon {
	position: relative;
}

.balance__icon:before {
	left: 10px;
	width: 38px;
	height: 40px;
	background-image: url("../images/balance.png");
}

.balance__icon_bitcoin:before {
	background-position: 2px 2px;
}

.balance__icon_testnet:before {
	background-position: 0 -61px;
}

.balance__icon_ethereum:before {
	background-position: 0 -123px;
}

.balance__icon_rinkeby:before {
	background-position: 0 -188px;
}

.balance__money {
	font-size: 21px;
}

.settings {
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.settings__title {
	width: 370px;
	margin-left: auto;
	margin-right: auto;
}

.settings__container {
	display: inline-block;
}

.settings__item {
	display: inline-block;
	margin: 0 40px;
}

.settings__text {
	text-align: center;
}

.settings__text p {
	margin: 0;
}

.settings img {
	width: 290px;
	height: 290px;
}

.history {
	width: 100%;
	font-size: 20px;
}

.history__title {
	min-width: 350px;
}

.history__id:first-child {
	width: 80px;
}

.history table {
	min-width: 930px;
	margin: 0 auto;
	border-collapse: collapse;
}

.history table thead tr {
	border-bottom: 1px solid #4f7cac;
}

.history table thead th {
	width: 135px;
	padding: 15px 20px;
	font-weight: normal;
	border-bottom: 1px solid #4f7cac;
	border-right: 1px solid #dde8e8;
}

.history table td {
	height: 25px;
	padding: 15px 20px;
	text-align: center;
	border: 1px solid #dde8e8;
}
